.container {
  text-align: justify;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}

header {
  padding: 20px;
  font-size: 50px;
  text-align: center;
}

h3 em {
  font-weight: lighter;
  padding: 10px;
  display: block;
  text-align: center !important;
}
